Description=ip-whois

[Service]
Type=simple
Restart=always
RestartSec=5s
Environment="GIN_MODE=release"
Environment="IPWHOIS_UPDATE_URL=http://ftp.registro.br/pub/numeracao/origin/nicbr-asn-blk-latest.txt"
Environment="IPWHOIS_UPDATE_INTERVAL=24h"
Environment="IPWHOIS_PORT=4444"
ExecStart=/opt/golang/bin/ip-whois-linux-amd64

[Install]
WantedBy=multi-user.target
